<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toiter</title>
    <link rel="stylesheet" type="text/css" href="/views/style.css" media="screen"/>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="https://via.placeholder.com/100x40" alt="Logo">
            </div>
            <div class="nav-buttons">
                <button>Home</button>
                <button>Perfil</button>
                <button>Meus posts</button>
            </div> 
        </div>
    </header>