<%- include('../header'); %>
    <div class="main-container">
        <div class="feed-container">
            <div class="form-container">
                <h2>Login</h2>
                <form action="/verifica-login" method="post">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="senha">Senha:</label>
                    <input type="password" id="pwd" name="pwd" required>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>    
<%- include('../footer'); %>